@import '../../styles/variables';

.header, .nav {
  align-items: center;
  display: flex;
}

.header {
  justify-content: space-between;
  margin-bottom: 1.25rem;
  padding-bottom: .625rem;
  padding-top: .625rem;
}

.nav {
  opacity: 0;
  position: absolute;
  z-index: -1;

  &.active {
    opacity: 1;
    z-index: 2;
  }
}

.link {
  margin: 0 2.5rem;

  &:last-child { margin-right: 0; }

  &.active,
  &:hover {
    color: $primary;
  }
}

@media (min-width: 48em) {
  .header {
    padding-bottom: 1.875rem;
    padding-top: 1.875rem;
  }

  .trigger { display: none; }

  .nav {
    opacity: 1;
    position: initial;
    z-index: 1;
  }
}
