@import "./variables";

.button {
  display: block;
  width: 180px;
  height: 40px;
  background: $primary;
  border: 1px solid $primary;
  border-radius: 2px;
  text-align: center;
  color: $light;
  text-transform: uppercase;
  font-size: 0.75em;
  line-height: 40px;
  letter-spacing: 0.03em;
  font-weight: 500;
  cursor: pointer;
  &--hollow {
    background: none;
    color: $primary;
  }

  // Interaction Hover - Start
  transition: all 125ms ease-in-out;
  &:hover {
    border: 1px solid darken($primary, 5%);
    background: darken($primary, 5%);
    box-shadow: transparentize($primary, 0.8) 0px 3px 3px -2px, transparentize($primary, 0.86) 0px 3px 4px 0px,
      transparentize($primary, 0.86) 0px 1px 8px 0px;
  }
  &--hollow:hover {
    background: none;
  }
  // Interaction Hover - End
}
