@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Work+Sans:wght@400;500&display=swap');
@import "./variables.scss";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: $primaryFont;
  font-size: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: $secondaryFont;
  font-weight: 400;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

b, strong {
  font-weight: 500;
}

p {
  font-size: 1rem;
  line-height: 1.25;

  &:not(:last-child) {
    margin: 0 0 1rem;
  }
}

.display {
  font-size: 2.625rem;
  line-height: 1.333;
}

@media (min-width: 60em) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  p {
    font-size: 1.125rem;
  }

  .display {
    font-size: 3.75rem;
  }
}

@import "./buttons.scss";
@import "./container.scss";
@import "./grid.scss";
