.work {
  margin: 0 0 5.625rem;
  @media (min-width: 40rem) {
    &:nth-child(even) {
      flex-direction: row-reverse;
      div {
        &:nth-child(1) {
          padding: 0px 0px 0px 0em;
        }
        &:nth-child(2) {
          padding: 0em 5em 0px 5em;
        }
      }
    }
    &:nth-child(odd) {
      div {
        &:nth-child(1) {
          padding: 0px 0px 0px 0px;
        }
        &:nth-child(2) {
          padding: 0em 5em 0px 5em;
        }
      }
    }
  }
}
