@import "./variables.scss";

.billboard {
  min-height: 80vh;
}

.highlight {
  color: $neutro;
  font-size: 1.3125rem;
  line-height: 1.5;
}

.gallery {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li:not(:last-child) {
    margin: 0 0 1.875rem;
    width: calc((100% - 1.875rem) / 2);
  }

  li:last-child {
    width: 100%;
  }
}

.link {
  font-family: $secondaryFont;
  font-size: 2rem;
}

.label {
  color: $neutro;
  font-size: 1rem;
}
